

.columnContainer{
 
  height:100vh;

}
.columns{
  border-left:1px solid grey;
  border-right:1px solid grey;
  margin:0px 0px;

}

.middle{
  padding:0px !important;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
&::-webkit-scrollbar-thumb {
    background: #FF0000;
}
}

.list{
  height: 75%;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: justify;
}

.list_item{

  width: 75%;
  height: 45px;
  padding:3px 110px 3px 0px;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  

}
.list_item_icon{
 
  width: 70%;
  height: 45px;
  padding: 10px;
  

}
.list_text{
height: auto;
padding-top:2px;
width:50px;
}
.profile{
    border:1px solid green;
    display: flex;
    justify-content: space-between;
    padding: 20px 1px 20px 80px;
}
.profile_name{
border: 1px solid white;
margin-right:30%;
}
.btn-x{
 border: 1px solid orange;
}
.avi{
 border : 1px solid violet;
}
.wh_avi{
  
  height: 50px;
  width:50px;
  border-radius: 100px;

}
.list_button{
 
  background-color: rgb(29, 161, 242);
  border-color: rgb(29, 161, 242);
  outline-color: rgb(29, 161, 242);
  width:70%;
  border-radius: 90px;
  height: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color:"white";

  &:hover{
    opacity: 90%;
  }
}

.header{
  height: 50px;
  border-bottom:1px solid rgb(105, 105, 105);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding:10px;
  font-weight: bold;
  font-size: 20px;
}

.whats_happening{
  min-height:150px;
  border-bottom:1px solid rgb(105, 105, 105);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.half{

}

.upper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  min-height: 170px ;
 
}

.wh_text_input{
  
 width:90%;

 padding:0px  10px;
 display:flex;
 flex-direction: column;
 justify-content: space-around;
}

.icon_with_tweet{
  display: flex;
  justify-content: space-between;
  
}
.icon_group{
  
  width:40%;
  display: flex;
  align-items: center;
  justify-content: space-around;

}
.wh_tweet{
  background-color: rgb(29, 161, 242);
  border-radius:100px;
  height: 35px;
  width: 60px;

  display: flex;
  justify-content: center;
  align-items: center;


}
.can_reply{
  padding-left:5px;
  color: rgb(29, 161, 242);
  font-size: 13px;
  font-weight: bold;

}
.can_reply_container{
  border-bottom: 1px solid grey;
  width:100%;
  padding-bottom: 10px;
}

.whats_happening_text_area{
  width:100%;
  min-height: 5px;
  max-height: 100vh;
  color: grey;
  border:0px solid !important;
  background-color: #15202B;
  
  
}

[contenteditable] {
  padding:0px; 
  background:#15202B;
  border:none !important;
  outline-color: none !important;
  color: white;
  overflow: auto;
  outline: none !important;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  &:active{
    border:none !important;
    outline-color: none !important;
   
    overflow: auto;
    outline: none !important;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }
}

   [data-placeholder]:empty:before{
  content: attr(data-placeholder);
  color: #888;
  font-size: 20px;
}


.right_side{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding:5px 10px 0px 0px;
  border:1px solid red;
}

.search{
  width:90%;
  height: 50px;
  border:none !important;
  outline-color: none !important;
  color: grey;
  overflow: auto;
  outline: none !important;
  border-radius: 100px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  padding:10px;
 background-color: rgb(37, 51, 65);;
  
  &::placeholder{
     color:grey;
    
   }
  &:focus{
    border:none !important;
    outline-color: none !important;
    padding:10px;
    overflow: auto;
    outline: none !important;
    opacity: 100%;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &_container{
    width:90%;
    border:1px solid white;
    height: auto;
    padding:0px 10px 10px 0px;
    
  }
}

