
@import 'styles.scss';



.columnContainer{
 
  height:100vh;

}
.columns{
  border-left:1px solid grey;
  border-right:1px solid grey;
  margin:0px 0px;

}

.header{
  height: 100vh;
 
  position: relative;
  overflow: hidden;

  &_left{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;

  }

  &_right{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-right: 50px;
  }


  &_logo{
    position: absolute;
    bottom: -45px;
  }
}


.explore_button{
  margin-top: 20px;
  color:white;
  background-color: #6C63FF;
  outline: 0px;
  border: 0px;
  height:50px;
  width:200px;
}

.view_loc_left{
  display: flex;

  justify-content: flex-start;
  align-items: center;
}
.view_loc_right{
  display: flex;
flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.loc_row{
  width:45vw !important;

  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 10px 0px ;
 height:60px;
 background-color: white;
 border-radius: 10px;


  &_title{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  //  border:1px solid red;
  }
 
}

.loc_text{
  width:130px;
  text-align: left;
  color:#696879;
  
 
 
 &_title{
  width:130px;
  text-align: left;
  color: grey;
  font-weight: bold;

 }
  
}

.loc_container{
  display: flex ;
  flex-direction: column ;
  justify-content: space-between ;
 // border:1px solid red;
  height:40%;
  overflow-y: scroll;
  margin-top: -70px;

}

.top_bar{
display: flex;
flex-direction: row;
//border: 1px solid green;
justify-content: space-between;
height: 60px;
background-color: #6C63FF;
color:white;
//font-weight: bold;
font-size: 15px;

&_right{
  width:30%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 // border: 1px solid green;
  align-items: stretch;
}

&_title{
  color:white;
font-weight: bold;
font-size: 20px;
}
}


.operations{
 // border:1px solid red;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width:50px;
}

.bottom_nav{
  
  width:100%;
  height: 70px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.btn_view{
  background-color:#6C63FF ;
  height: 50px;
  color:white;
  outline: none;
  border:none;
  border-radius:10px;


}